@media (max-width:410px){
    @mixin flex($a) {
        display: flex;
        justify-content: $a;
        align-items: center;
    }
    @mixin gai($bottom,$width,$left,$height,$bg,$translate) {
        position: absolute;
        bottom: $bottom;
        left: $left;
        width: $width;
        height: $height;
        background-color: $bg;
        transform:  translateX($translate);
    }
    @mixin img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @mixin load {
        top: 0;
        width: 100%;
        height: 50vh;
        position: absolute;
        z-index: 150;
    }
    @mixin skill($pacent) {
        width: $pacent;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #686de0;
        height: 5px;
        transition: 2s;
        transform: translateX(-101%);
        @keyframes skill_show {
            0%{
                transform: translateX(-100%);
            }
            100%{
                transform: translateX(0);
            }
        }
    }
    @mixin btn($top) {
        position: absolute;
        width: 35px;
        height: 2px;
        background: #f5f6fa;
        left: 7px;
        top: $top;
        border-radius: 15px;
        transition: all 0.4s ease-in-out;
    }
    @mixin path(){
        stroke-dasharray: 90;
        stroke-dashoffset: 0;
        animation : path 3s linear 0.4s forwards;
       
        @keyframes path{
            0%{
                stroke-dashoffset: 100;
            }
            100%{
                stroke-dashoffset: 0;
            }
           }
    }
    @mixin phone {
        font-size: 40px;
        padding: 0 25px;
        border-left: 2px solid rgba(9, 132, 227,1.0);
        border-right: 2px solid rgba(9, 132, 227,1.0);
    }
    html{
        // margin: 0;
        body{
            ///////////////////////////////////////////////
         overflow-x: hidden;
                .menu_btn{
                    width: 50px;
                    height: 50px;
                    background-color: rgba(39, 60, 117,1.0);
                    position: fixed;
                    top: 10px;
                    left: 10px;
                    z-index: 100;
                    .btn{
                        position: relative;
                        flex-direction: column;
                        width: 40px;
                        height: 40px;
                       @for $i from 1 to 4{
                           .btn_#{$i}{
                               @if($i == 1 ){
                                @include btn(13px);
                               }
                               @if($i == 2 ){
                                @include btn(25px);
                               }
                               @if($i == 3 ){
                                @include btn(37px);
                               }
                           }
                       }
                       @for $i from 1 to 4{
                       .show_#{$i}{
                        @if($i == 1 ){
                        //    transform-origin: center;
                           transform: translateY(11px) rotate(45deg);
                           }
                           @if($i == 2 ){
                            transform: translateX(-100%) !important;
                            opacity: 0 !important;
                           }
                           @if($i == 3 ){
                            // transform-origin: center;
                            transform: translateY(-13px) rotate(-45deg);
                           }
                       }
                    }
                    }
                }
            ///////////////////////////////////////////////
            .menu{
                transform: translateX(-120%);
                background-color: rgba(87, 101, 116,0.8);
                width: 274px;
                top: 28%;
                left: -100px;
                box-shadow: 3px 5px 15px rgba(0,0,0,0.7);
                border-radius: 5px;

                @keyframes fade_menu {
                    0%{
                        transform: translateX(-120%);
                    }
                   100%{
                        transform: translateX(0);
                    }
                }
                .menu_tag{
                    @include flex(center);
                    .menu_items{
                        @include flex(center);
                        .menu_link{
                            @include flex(flex-start);
                            img{
                                width: 20px;
                                height: 20px;
                            }
                        }
                        span{
                            transform: translateY(0px);
                            transition: all 0.4s ease-in-out;
                            opacity: 1 !important;
                        }
                    }
                }
            }
            .section{
                background: url(../img/skill02.jpeg);
            }
                // main 
            main{
                flex-direction: column;
                width: 100%;
                #def{
                    width: 100%;
                    height: 100vh;
                    font-size: 40px;
                    text-align: center
                }
                #home{
                    @extend #def;
                    position: relative;
                    // background-image: url(../img/bg12.jpg);
                    @include img();
                    @include flex(center);
                    width: 100%;
                    .home_name{
                        z-index: 3;
                        padding: 15px;
                        .name{
                           
                            font-size: 25px;
                        }
                    }
                    .home_1{
                        position: absolute;
                        width: 290px;
                        height: 60px;
                        z-index: 3;
                        // position: relative;
                        overflow: hidden;
                        .home_item_border{
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background: rgba(85, 239, 196,0.7);
                            left: 0;
                            bottom: 0;
                            transform: translateX(-100%);
                            animation: port_items 1s ease-in-out 3.5s forwards;
                        }
                        .home_contact{
                            .home_items{
                                margin-right: 10px;
                                animation : home_item 1s ease-in-out 3s forwards;
                                opacity: 0;
                                @keyframes home_item {
                                    0%{
                                        transform: translateY(-10px);
                                        opacity: 0;
                                    }
                                    100%{
                                        transform: translateY(0);
                                        opacity: 1;
                                    }
                                }
                                .home_link{
                                    padding: 5px 10px;
                                    border-radius: 100%;
                                    transform: translateY(0);
                                    &:hover{
                                        background-color: rgba(99, 110, 114,0.8);
                                        cursor: pointer;
                                    }
                                    img{
                                        width: 25px;
                                        height: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
                #about{
                    @extend #def;
                    height: 145vh;
                    @include flex(space-around);
                    background-color: white;
                    flex-direction: column;
                    margin-top: 0;
                    width: 100%;
                    margin-left: 0;
                    margin-bottom: 0;
                    .about_wrap{
                        display: flex;
                        width: 100%;
                        margin-left: 0;
                        justify-content: flex-start;
                        flex-direction: column;
                        flex-wrap: wrap;
                        margin-bottom: -100px;
                        .about_title{
                           display: none !important;
                        }
                        .about_title_phone{
                            display: block !important;
                            opacity: 0;
                            // transform: rotate(90deg);
                            span{
                                @include phone();
                            }
                        }
                        .about_image{
                          position: unset !important;
                          margin: 50px 0 ;
                            img{
                                width: 310px;
                                height: 310px;
                            }
                        }
                        .about_content{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: -70px;
                            margin-bottom: 50px;
                            .detail{
                                list-style: none;
                                margin-left: -30px;
                                .detail_items{
                                    display: flex;
                                    opacity: 0;
                                }
                                p{
                                    font-size: 16px;
                                    margin: 17px 10px;
                                }
                            }
                        }
                    }
                }
                #education{
                    @extend #def;
                    background-color: black;
                    display: flex;
                    height: 160vh;
                    .edu_wrap{
                        width: 100%;
                        @include flex(space-around);
                        flex-direction: column;
                        position: unset;
                        .edu_title_phone{
                            display: block;
                            opacity: 0;
                            margin-top: 50px;
                            span{
                                color: white;
                                @include phone();
                            }
                        }
                        .work_title{
                           display: none;
                        }
                        .edu_image{
                           display: none;
                        }
                        .edu_content{
                            margin: 0 5px;
                            .edu_list{
                                padding: 0;
                                .edu_items{
                                    p{
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
    
                #skill{
                    @include flex(space-around);
                    height: 144vh;
                    background-color: rgba(245, 246, 250,0.7);
                    .skill_wrap{
                        width: 100%;
                        height: 88%;
                        @include flex(space-between);
                        flex-direction: column;
                        .skill_title{
                            display: none;
                        }
                        .skill_img{
                            display: none;
                        }
                        .skill_title_phone{
                            opacity: 0;
                            margin: 30px 0 10px 0;
                            display: block;
                            span{
                                @include phone();
                            }
                        }
                        .skill_content{
                           width: 80%;
                           .skill_list{
                                margin-left: -35px;
                               .skill_items{
                                   display: flex;
                                   flex-direction: column;
                                   margin: 35px 0;
                                    .skill_pacent{
                                        span{
                                            background-color: rgba(255, 118, 117,1.0) !important;
                                        }
                                    }
                                   p{
                                       font-size: 11px;
                                   }
                               }
                           }
                           .hyaku{
                               top: 22%;
                               right: 10%;
                               font-size: 13px;
                           }
                        }
                    }
                }
    
                #portfolio{
                    min-height: 82vh ;
                    .port_wrap{
                        flex-direction: column;
                        @include flex(space-between);
                        margin: 0;
                        position: relative;
                        .port_title{
                           display: none;
                        }
                        .title_name{
                            background-color: transparent;
                            position: unset;
                            margin-top: 50px;
                            margin-bottom: -40px;
                            width: 100%;
                            opacity: 0;
                            transform: rotate(90deg);
                            span{
                                @include phone();
                                letter-spacing: 4px;
                            }
                        }
                        .port_img{
                            display: none;
                        }
                        .content{
                            margin: 80px 0;
                            .port_list{
                                margin-left: -35px;
                                .port_items{
                                    margin-top: 40px;
                                    // opacity: 0; 
                                    img{
                                        width: 121px;
                                        height: 150px;
                                       
                                    }
                                    .items_content{
                                        padding: 0 5px;
                                        min-width: 87%;
                                        p{
                                            color: black;
                                            font-size: 12px;
                                        }
                                        p:nth-child(1){
                                            font-size: 18px;
                                        }
                                        a{
                                            padding: 6px 10px;
                                            border-radius: 6px;
                                            font-size: 12px;
                                            margin-bottom: 5px;
                                           width: 60px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
    
                #contact{
                    @extend #def;
                    min-height: 183vh;
                    @include flex(space-around);
                    width: 100%;
                    z-index: 0;
                    .span{
                        span:nth-child(1){
                            font-size: 30px
                        }
                    }
                    .contact_area{
                        @include flex(center);
                        flex-direction: column;
                        width: 100%;
                        .local_adress{
                            @include flex(space-between);                        
                            margin-top: -100px;
                            width: 60%;
                            margin-left: -22px;
                            .adress{
                                @include flex(flex-start);
                                .adress_icon{
                                    background: unset;
                                    padding : 0 14px;
                                    img{
                                        width: 30px;
                                        height: 30px;
                                    }
                                }
                                .adress_info{
                                    padding-left: 15px;
                                    width: 200px;
                                    p{
                                        font-size: 16px;
                                    }
                                    span{
                                        font-size: 10px;
                                    }
                                }
                                &+.adress{
                                    margin-top: 35px;
                                }
                            }
                        }
                        .local_contact{
                            width: 85%;
                            opacity: 0;
                            form{
                                input{
                                    height: 40px;
                                    margin-top: 30px;
                                    border-radius: 5px;
                                    border: 1px solid grey;
                                    padding-left: 10px;
                                    ::placeholder{
                                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                    }
                                }
                                input[name="name"]{
                                    outline: none;
                                    width: 100%;
                                }
                                input[name="email"]{
                                    outline: none;
                                    width: 100%;
                                }
                                input[name="subject"]{
                                    outline: none;
                                    width: 100%;
                                }
                                textarea{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            footer{
                @include flex(space-around);
                .footer_title{
                    font-size: 20px;
                }
                .footer_des{
                    font-size: 16px;
                }
                .footer_contact{
                    @include flex(center);
                    align-items: center;
                    margin-left: -30px;
                    .ft_list{
                        @include flex(center);
                        .ft_link{
                            padding: 8px;
                            width: 25px;
                            height: 25px;
                            @include flex(center);
                            img{
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                    
                }
                span{
                    font-size: 12px;
                }
            }
        }
    }

}
@media only  screen and (max-height : 641) and (max-width:410px) {
    #about{
        height: 100vh;
    }
    #education{
        height: 100vh;
    }
    #skill{
        height: 100vh;
    }
    #portfolio{
        height: 100vh;
    }
    #contact{
        height: 100vh;
    }
}
