@media (max-width: 410px) {
  html body {
    overflow-x: hidden;
  }
  html body .menu_btn {
    width: 50px;
    height: 50px;
    background-color: #273c75;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
  }
  html body .menu_btn .btn {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40px;
    height: 40px;
  }
  html body .menu_btn .btn .btn_1 {
    position: absolute;
    width: 35px;
    height: 2px;
    background: #f5f6fa;
    left: 7px;
    top: 13px;
    border-radius: 15px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  html body .menu_btn .btn .btn_2 {
    position: absolute;
    width: 35px;
    height: 2px;
    background: #f5f6fa;
    left: 7px;
    top: 25px;
    border-radius: 15px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  html body .menu_btn .btn .btn_3 {
    position: absolute;
    width: 35px;
    height: 2px;
    background: #f5f6fa;
    left: 7px;
    top: 37px;
    border-radius: 15px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  html body .menu_btn .btn .show_1 {
    -webkit-transform: translateY(11px) rotate(45deg);
            transform: translateY(11px) rotate(45deg);
  }
  html body .menu_btn .btn .show_2 {
    -webkit-transform: translateX(-100%) !important;
            transform: translateX(-100%) !important;
    opacity: 0 !important;
  }
  html body .menu_btn .btn .show_3 {
    -webkit-transform: translateY(-13px) rotate(-45deg);
            transform: translateY(-13px) rotate(-45deg);
  }
  html body .menu {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    background-color: grey;
    width: 274px;
    top: 40%;
    left: -100px;
  }
  @-webkit-keyframes fade_menu {
    0% {
      -webkit-transform: translateX(-120%);
              transform: translateX(-120%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes fade_menu {
    0% {
      -webkit-transform: translateX(-120%);
              transform: translateX(-120%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  html body .menu .menu_tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body .menu .menu_tag .menu_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body .menu .menu_tag .menu_items .menu_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body .menu .menu_tag .menu_items .menu_link img {
    width: 20px;
    height: 20px;
  }
  html body .menu .menu_tag .menu_items span {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 1 !important;
  }
  html body .section {
    background: url(../img/skill02.jpeg);
  }
  html body main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  html body main #def, html body main #home, html body main #about, html body main #education, html body main #contact {
    width: 100%;
    height: 100vh;
    font-size: 40px;
    text-align: center;
  }
  html body main #home {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  html body main #home .home_name {
    position: absolute;
    top: 40%;
    left: 11%;
    z-index: 3;
    padding: 15px;
  }
  html body main #home .home_name .name {
    font-size: 25px;
  }
  html body main #home .home_1 {
    position: absolute;
    top: 66%;
    left: 11%;
    width: 290px;
    height: 60px;
    z-index: 3;
    overflow: hidden;
  }
  html body main #home .home_1 .home_item_border {
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(85, 239, 196, 0.7);
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-animation: port_items 1s ease-in-out 3.5s forwards;
            animation: port_items 1s ease-in-out 3.5s forwards;
  }
  html body main #home .home_1 .home_contact {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: border_left 1s ease-in-out 3s forwards;
            animation: border_left 1s ease-in-out 3s forwards;
    margin-left: -30px;
  }
  html body main #home .home_1 .home_contact .home_items {
    margin-right: 10px;
    -webkit-animation: home_item 1s ease-in-out 3s forwards;
            animation: home_item 1s ease-in-out 3s forwards;
    opacity: 0;
  }
  @-webkit-keyframes home_item {
    0% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes home_item {
    0% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  html body main #home .home_1 .home_contact .home_items .home_link {
    padding: 5px 10px;
    border-radius: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  html body main #home .home_1 .home_contact .home_items .home_link:hover {
    background-color: rgba(99, 110, 114, 0.8);
    cursor: pointer;
  }
  html body main #home .home_1 .home_contact .home_items .home_link img {
    width: 25px;
    height: 25px;
  }
  html body main #about {
    height: 145vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
  }
  html body main #about .about_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -100px;
  }
  html body main #about .about_wrap .about_title {
    display: none !important;
  }
  html body main #about .about_wrap .about_title_phone {
    display: block !important;
    opacity: 0;
  }
  html body main #about .about_wrap .about_title_phone span {
    font-size: 40px;
    padding: 0 25px;
    border-left: 2px solid #0984e3;
    border-right: 2px solid #0984e3;
  }
  html body main #about .about_wrap .about_image {
    position: unset !important;
    margin: 50px 0;
  }
  html body main #about .about_wrap .about_image img {
    width: 310px;
    height: 310px;
  }
  html body main #about .about_wrap .about_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -70px;
    margin-bottom: 50px;
  }
  html body main #about .about_wrap .about_content .detail {
    list-style: none;
    margin-left: -30px;
  }
  html body main #about .about_wrap .about_content .detail .detail_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
  }
  html body main #about .about_wrap .about_content .detail p {
    font-size: 16px;
    margin: 17px 10px;
  }
  html body main #education {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 160vh;
  }
  html body main #education .edu_wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: unset;
  }
  html body main #education .edu_wrap .edu_title_phone {
    display: block;
    opacity: 0;
    margin-top: 50px;
  }
  html body main #education .edu_wrap .edu_title_phone span {
    color: white;
    font-size: 40px;
    padding: 0 25px;
    border-left: 2px solid #0984e3;
    border-right: 2px solid #0984e3;
  }
  html body main #education .edu_wrap .work_title {
    display: none;
  }
  html body main #education .edu_wrap .edu_image {
    display: none;
  }
  html body main #education .edu_wrap .edu_content {
    margin: 0 5px;
  }
  html body main #education .edu_wrap .edu_content .edu_list {
    padding: 0;
  }
  html body main #education .edu_wrap .edu_content .edu_list .edu_items p {
    font-size: 16px;
  }
  html body main #skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 144vh;
    background-color: rgba(245, 246, 250, 0.7);
  }
  html body main #skill .skill_wrap {
    width: 100%;
    height: 88%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body main #skill .skill_wrap .skill_title {
    display: none;
  }
  html body main #skill .skill_wrap .skill_img {
    display: none;
  }
  html body main #skill .skill_wrap .skill_title_phone {
    opacity: 0;
    margin: 30px 0 10px 0;
    display: block;
  }
  html body main #skill .skill_wrap .skill_title_phone span {
    font-size: 40px;
    padding: 0 25px;
    border-left: 2px solid #0984e3;
    border-right: 2px solid #0984e3;
  }
  html body main #skill .skill_wrap .skill_content {
    width: 80%;
  }
  html body main #skill .skill_wrap .skill_content .skill_list {
    margin-left: -35px;
  }
  html body main #skill .skill_wrap .skill_content .skill_list .skill_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 35px 0;
  }
  html body main #skill .skill_wrap .skill_content .skill_list .skill_items .skill_pacent span {
    background-color: #ff7675 !important;
  }
  html body main #skill .skill_wrap .skill_content .skill_list .skill_items p {
    font-size: 11px;
  }
  html body main #skill .skill_wrap .skill_content .hyaku {
    top: 22%;
    right: 10%;
    font-size: 13px;
  }
  html body main #portfolio {
    min-height: 82vh;
  }
  html body main #portfolio .port_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    position: relative;
  }
  html body main #portfolio .port_wrap .port_title {
    display: none;
  }
  html body main #portfolio .port_wrap .title_name {
    background-color: transparent;
    position: unset;
    margin-top: 50px;
    margin-bottom: -40px;
    width: 100%;
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  html body main #portfolio .port_wrap .title_name span {
    font-size: 40px;
    padding: 0 25px;
    border-left: 2px solid #0984e3;
    border-right: 2px solid #0984e3;
    letter-spacing: 4px;
  }
  html body main #portfolio .port_wrap .port_img {
    display: none;
  }
  html body main #portfolio .port_wrap .content {
    margin: 80px 0;
  }
  html body main #portfolio .port_wrap .content .port_list {
    margin-left: -35px;
  }
  html body main #portfolio .port_wrap .content .port_list .port_items {
    margin-top: 40px;
  }
  html body main #portfolio .port_wrap .content .port_list .port_items img {
    width: 121px;
    height: 150px;
  }
  html body main #portfolio .port_wrap .content .port_list .port_items .items_content {
    padding: 0 5px;
    min-width: 87%;
  }
  html body main #portfolio .port_wrap .content .port_list .port_items .items_content p {
    color: black;
    font-size: 12px;
  }
  html body main #portfolio .port_wrap .content .port_list .port_items .items_content p:nth-child(1) {
    font-size: 18px;
  }
  html body main #portfolio .port_wrap .content .port_list .port_items .items_content a {
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    margin-bottom: 5px;
    width: 60px;
  }
  html body main #contact {
    min-height: 183vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    z-index: 0;
  }
  html body main #contact .span span:nth-child(1) {
    font-size: 30px;
  }
  html body main #contact .contact_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  html body main #contact .contact_area .local_adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -100px;
    width: 60%;
    margin-left: -22px;
  }
  html body main #contact .contact_area .local_adress .adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body main #contact .contact_area .local_adress .adress .adress_icon {
    background: unset;
    padding: 0 14px;
  }
  html body main #contact .contact_area .local_adress .adress .adress_icon img {
    width: 30px;
    height: 30px;
  }
  html body main #contact .contact_area .local_adress .adress .adress_info {
    padding-left: 15px;
    width: 200px;
  }
  html body main #contact .contact_area .local_adress .adress .adress_info p {
    font-size: 16px;
  }
  html body main #contact .contact_area .local_adress .adress .adress_info span {
    font-size: 10px;
  }
  html body main #contact .contact_area .local_adress .adress + .adress {
    margin-top: 35px;
  }
  html body main #contact .contact_area .local_contact {
    width: 85%;
    opacity: 0;
  }
  html body main #contact .contact_area .local_contact form input {
    height: 40px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 10px;
  }
  html body main #contact .contact_area .local_contact form input ::-webkit-input-placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  html body main #contact .contact_area .local_contact form input :-ms-input-placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  html body main #contact .contact_area .local_contact form input ::-ms-input-placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  html body main #contact .contact_area .local_contact form input ::placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  html body main #contact .contact_area .local_contact form input[name="name"] {
    outline: none;
    width: 100%;
  }
  html body main #contact .contact_area .local_contact form input[name="email"] {
    outline: none;
    width: 100%;
  }
  html body main #contact .contact_area .local_contact form input[name="subject"] {
    outline: none;
    width: 100%;
  }
  html body main #contact .contact_area .local_contact form textarea {
    width: 100%;
  }
  html body footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body footer .footer_title {
    font-size: 20px;
  }
  html body footer .footer_des {
    font-size: 16px;
  }
  html body footer .footer_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
    margin-left: -30px;
  }
  html body footer .footer_contact .ft_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body footer .footer_contact .ft_list .ft_link {
    padding: 8px;
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body footer .footer_contact .ft_list .ft_link img {
    width: 25px;
    height: 25px;
  }
  html body footer span {
    font-size: 12px;
  }
}

@media only screen and (max-height: 641) and (max-width: 410px) {
  #about {
    height: 100vh;
  }
  #education {
    height: 100vh;
  }
  #skill {
    height: 100vh;
  }
  #portfolio {
    height: 100vh;
  }
  #contact {
    height: 100vh;
  }
}
/*# sourceMappingURL=supperSmall.css.map */